body {
    margin: 0;
    overflow: hidden;
    
}
  
.bg-color {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center; 
}

button {
    font-size: 36px;
    padding: 20px 60px;
    margin: 20px;
    border-radius: 8px;
    font-weight: 700;
    color: #1b1b1b;
    border: 3px solid #1b1b1b;

    transform: scale(1);
    transition: transform 150ms ease-out;
}